<div class="card-group">
  <div class="card">
    <h5 class="card-title  text-center">SSL</h5>
    <img src="assets/ssl imagen.png" style="width: 350px;" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        SSL proporciona un canal seguro entre dos computadoras o dispositivos que operan a
        través de Internet o de una red interna. Un ejemplo frecuente es el uso de SSL para
        proteger las comunicaciones entre un navegador web y un servidor web. Este protocolo
        cambia la dirección del sitio web de HTTP a HTTPS, donde «S» significa «seguridad».

        <strong>Más información:
          <a href="https://docs.gandi.net/es/ssl/que_es_ssl.html">Aquí</a> </strong>
      </p>
      <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title text-center">IMAP</h5>
    <img src="assets/imap imagen.png" style="width: 350px" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        El protocolo IMAP o Internet Message Access Protocol (Protocolo de Acceso a
Mensajes de Internet) permite el acceso a mensajes de correo electrónico que
se encuentran almacenados en un servidor desde cualquier ordenador que
tenga conexión a Internet. Hay que indicar que IMAP es un protocolo de
acceso a nuestro correo electrónico, pero no es un protocolo de envío de
email.
<h4><strong>Origen</strong></h4>
<p>
IMAP fue diseñado como una moderna alternativa a POP por Mark
Crispin en el año 1986. Fundamentalmente, los dos protocolos les
permiten a los clientes de correo acceder a los mensajes
almacenados en un servidor de correo.
</p>
<h4><strong>Características</strong></h4>
<p>
Diferencia del protocolo POP3, el correo no es descargado
inmediatamente, sino que es leído o consultado directamente en el
servidor.
Permite ver únicamente los encabezados del mensaje antes de
decidir si abrirlo o eliminarlo.
El servidor retiene el correo hasta que se solicite su eliminación.
Puede consultarse el mismo correo desde diferentes computadoras
ya que solo se lee lo que hay en el servidor.
Permite operaciones avanzadas como creación de carpetas y
buzones en el servidor.

</p>
<h4><strong>Aplicaciones</strong></h4>
<p>Es un protocolo de aplicación que permite el acceso a mensajes
almacenados en un servidor de Internet. Mediante IMAP se puede
tener acceso al correo electrónico desde cualquier equipo que
tenga una conexión a Internet
</p>
        <strong>¿Cómo implementarlo?
          <a href="https://rico-schmidt.name/pymotw-3/imaplib/">Aquí</a> </strong>
          <br>
        <strong>información complementaria:
          <a href="https://www.youtube.com/watch?v=Paiozien2pY">Vídeo</a> </strong>

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
    </div>
  </div>
  <div class="card">
    <h5 class="card-title text-center">SSH</h5>
    <img src="assets/ssh imagen información.png" style="width: 350px" class="card-img-top" alt="Imagen SSH">
    <div class="card-body">
      <p class="card-text">
        SSH o Secure Shell, es un protocolo de administración remota que le permite a
        los usuarios controlar y modificar sus servidores remotos a través de Internet a
        través de un mecanismo de autenticación.
        Proporciona un mecanismo para autenticar un usuario remoto, transferir entradas
        desde el cliente al host y retransmitir la salida de vuelta al cliente.




      </p>
      <h4><strong>Origen</strong></h4>
      <p>
        SSH Secure SHell, es un protocolo creado por Tatu Ylönen. Los desarrolladores
        de OpenSSH se dieron cuenta de que el protocolo SSH era una cosa necesaria
        para su sistema y ahí nació OpenSSH que es el programa que se utiliza a día de
        hoy.
        El servicio se creó como un reemplazo seguro para el Telnet sin cifrar y utiliza
        técnicas criptográficas para garantizar que todas las comunicaciones hacia y
        desde el servidor remoto sucedan de manera encriptada.

      </p>
      <h4><strong>Características</strong></h4>
      <ul>
        <li>
          Después de la conexión inicial, el cliente puede verificar que se esta
          conectando al mismo servidor al que se conecto anteriormente
          SSH 2
        </li>
        <li>El cliente transmite su información de autenticación al servidor usando una
          encriptación robusta de 128 bits</li>
        <li>Todos los datos enviados y recibidos durante la sesión se transfieren por
          medio de la encriptación de 128 bits, lo cual los hacen extremadamente difícil
          de descifrar y leer</li>

        <li>
          El cliente tiene la posibilidad de reenviar aplicaciones X11 (sistema de visión
          por ventanas X11R6.7)
        </li>

        <li>Puede usarse para asegurar protocolos inseguros puesto que encripta todo lo
          que envía y recibe
        </li>
      </ul>
      <h4><strong>Aplicaciones</strong></h4>
      <p> 
        La ventaja significativa ofrecida por el protocolo SSH sobre sus predecesores es
el uso del cifrado para asegurar la transferencia segura de información entre el
host y el cliente. Host se refiere al servidor remoto al que estás intentando
acceder, mientras que el cliente es el equipo que estás utilizando para acceder al
host. Hay tres tecnologías de cifrado diferentes utilizadas por SSH:

      </p>
      <ul>
        <li>
          Cifrado simétrico

        </li>
        <li>
Cifrado asimétrico

        </li>
        <li>
Hashing
        </li>
      </ul>
      <strong>Más información:
        <a href="https://web.mit.edu/rhel-doc/4/RH-DOCS/rhel-rg-es-4/ch-ssh.html">Aquí</a> </strong>
      <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
    </div>
  </div>
</div>