<div class="card-group">
  <div class="card">
      <h5 class="card-title  text-center">SSL</h5>
    <img src="assets/ssl imagen.png" style="width: 350px;" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        SSL proporciona un canal seguro entre dos computadoras o dispositivos que operan a
        través de Internet o de una red interna. Un ejemplo frecuente es el uso de SSL para
        proteger las comunicaciones entre un navegador web y un servidor web. Este protocolo
        cambia la dirección del sitio web de HTTP a HTTPS, donde «S» significa «seguridad».

        <strong>Más información: 
          <a href="https://docs.gandi.net/es/ssl/que_es_ssl.html">Aquí</a> </strong>
      </p>
      <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
    </div>
  </div>
  <div class="card">
      <h5 class="card-title text-center">IMAP</h5>
    <img src="assets/imap imagen.webp"  style ="width: 350px" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
        IMAP es la abreviatura de "Internet Message Access Protocol". IMAP te ofrece la posibilidad de administrar tus correos electrónicos directamente en el servidor de e-mail, es decir, si eliges el protocolo IMAP para establecer tu cuenta de correo en tu programa de e-mail, los correos que recibas no se descargarán en tu ordenador, sino que simplemente recibirás una lista de tus mensajes y sus correspondientes asuntos. Generalmente sólo aparecerán los encabezamientos de los correos electrónicos (esta opción también podrá modificarse en los respectivos programas de e-mail).
        
        Además, puedes crear tu propia carpeta en el servidor de e-mail y desplazar ahí tus mensajes. A partir de ese momento, podrás acceder a ellos en todo el mundo y desde varios dispositivos, como tu ordenador, un smartphone (iPhone, Android, etc.) o a través de la interfaz del Webmail de STRATO.

        <strong>¿Cómo implementarlo: 
          <a href="https://rico-schmidt.name/pymotw-3/imaplib/">Aquí</a> </strong>

      </p>
      <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
    </div>
  </div>
  <div class="card">
      <h5 class="card-title text-center">SSH</h5>
    <img src="assets/ssh imagen información.png" style ="width: 350px" class="card-img-top" alt="Imagen SSH">
    <div class="card-body">
      <p class="card-text">
            SSH o Secure Shell, es un protocolo de administración remota que le permite a
            los usuarios controlar y modificar sus servidores remotos a través de Internet a
            través de un mecanismo de autenticación.
            Proporciona un mecanismo para autenticar un usuario remoto, transferir entradas
            desde el cliente al host y retransmitir la salida de vuelta al cliente.
        <strong>Más información: 
          <a href="https://web.mit.edu/rhel-doc/4/RH-DOCS/rhel-rg-es-4/ch-ssh.html">Aquí</a> </strong>
        
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 days ago</small></p>
    </div>
  </div>
</div>